:root {
    /* Colors */
    --dark-color: #1c1c1c;
    --orange-color: #FF6000;
    --light-color: #D2CCCC;
    --ghost-black: rgba(0, 0, 0, 0.3);
    --ghost-white: #2C2C2C;
    --ghost-orange: #ff62005d;

    /* wireframe */
    --wf-ghost-bwhite: #D9D9D9;
    --wf-ghost-lwhite: #383A3C;
    --wf-btn-color: #C9C1C1;

    /* Typography */
    --font-family: 'Open Sans', sans-serif;

    /* Typographic Variables */
    --font-color-light: #FFFFFF;
    --font-color-lite: #F5F5F5;
    --font-color-dark: #000000;
    --font-color-wfaint: #7C7D8B;

    /* font-size */
    --fs-8: 8px;
    --fs-10: 10px;
    --fs-12: 12px;
    --fs-13: 13px;
    --fs-14: 14px;
    --fs-15: 15px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-22: 22px;
    --fs-24: 24px;
    --fs-28: 28px;
    --fs-30: 30px;
    --fs-32: 32px;
    --fs-36: 36px;

    /* font-weight */
    --fw-300: 300;
    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;

    /* line-height */
    --lh-13: 13.62px;
    --lh-19: 19.07px;
    --lh-20: 20.43px;
    --lh-21: 21.79px;
    --lh-24: 24.51px;
    --lh-32: 32.68px;
    --lh-43: 43.58px;
    --lh-49: 49.03px;

    /* Letter Spacing */
    --ls-normal: 0px;
    --ls-wide: 0.5px;
    --ls-wider: 1px;
    --ls-tight: -0.5px;
    --ls-tighter: -1px;

    /* Word Spacing */
    --ws-normal: 0px;
    --ws-wide: 2px;
    --ws-wider: 4px;
    --ws-tight: -1px;
    --ws-tighter: -2px;

    /* Padding */
    --pd-small: 4px;
    --pd-medium: 8px;
    --pd-large: 16px;
    --pd-xlarge: 32px;

    /* Margin */
    --mg-small: 4px;
    --mg-medium: 8px;
    --mg-large: 16px;
    --mg-xlarge: 32px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

body {
    background: var(--dark-color) !important;
    color: var(--font-color-light) !important;
    width: 100%;
    overflow: auto;
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

img {
    width: 100%;
    /* or the desired width */
    height: auto;
    image-rendering: -moz-crisp-edges;
    /* Firefox */
    image-rendering: -o-crisp-edges;
    /* Opera */
    image-rendering: -webkit-optimize-contrast;
    /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

/* Loading screen */
.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--orange-color) !important;
    color: var(--font-color-light) !important;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    z-index: 1500;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    overflow: hidden;
    /* Prevent scroll on the loading screen */
}

.loading-screen.loaded {
    display: none;
}

.loading-screen .content img {
    display: block;
    position: relative;
    width: 100%;

}

.content-logo {
    display: flex;
    align-items: center;
    justify-content: baseline;
    animation: rotate 2000ms linear infinite;
}

.content-logo.stopped {
    animation: none;
    /* Stops the rotation and zooming animation */
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(1);
    }

    25% {
        transform: rotate(90deg) scale(0.8);
        opacity: .8;
    }

    50% {
        transform: rotate(180deg) scale(.5);
        opacity: .5;
    }

    75% {
        transform: rotate(270deg) scale(0.8);
        opacity: .8;
    }

    100% {
        transform: rotate(360deg) scale(1);
    }
}

.loading-screen .content {
    width: 50%;
    height: 50%;
}

.loading-screen h1 {
    font-size: 2rem;
    margin: 1rem 0;
}

.loading-screen p {
    font-size: 1rem;
    margin: 1rem 0;
}

.loading-screen button {
    padding: 10px 20px;
    background-color: white;
    color: #ff6000;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
}

.loading-screen button:hover {
    background-color: #ddd;
}

/* Hide the scrollbar when the loading screen is visible */
body.loading-active {
    overflow: hidden;
}

/* Larger Screens (Desktops) */
@media (min-width: 768px) {
    .loading-screen .content {
        width: 30%;
        /* Adjust content width for larger screens */
        height: auto;
        /* Adjust height to allow for overflow */
    }

    /* Allow scroll on larger screens if content overflows */
    body.loading-active {
        overflow: auto;
    }
}

/* Smaller Screens (Mobiles) */
@media (max-width: 767px) {
    .loading-screen .content {
        width: 80%;
        /* Adjust content width for smaller screens */
        height: auto;
        /* Adjust height to fit content */
    }

    body.loading-active {
        overflow: hidden;
        /* Prevent scroll on mobile screens */
    }
}